<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop</title>
  </head>
  <body>
    <header>
      <h1>Coffee Shop</h1>
      <nav>
        <ul>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Welcome to Caffee Aroma</h2>
        <p>Discover the finest coffee blends at caffee Aroma.</p>
        <a href="menu.html">View Menu</a>
      </section>
      <section>
        <h2>About coffee Aroma</h2>
        <p>
          At caffee Aroma we take pride in our coffee heritage. Our coffee beans
          are carefuly selected.
        </p>
      </section>
      <article>
        <h2>History about Coffee</h2>
        <p>
          Coffee's origin is uncertain, but it is believed to have originated in
          the ancient coffee forests on the Ethiopian plateau1. Legend says that
          the goat herder Kaldi first discovered the potential of these beloved
          beans1. Another drink that appeared around 1000 A.D. was made from the
          whole coffee fruit, including the beans and the hull2. It wasn’t until
          the 13th century that people began to roast coffee beans, the first
          step in the process of making coffee as we know it today2. The word
          “coffee” has roots in several languages.
        </p>
      </article>
      <section>
        <h2>Our coffee selection</h2>
      </section>
    </main>

    <aside>
      <h2>Coffee drinks</h2>
      <ul>
        <li><a href="">Espresso</a></li>
        <li><a href="">Cappucino</a></li>
        <li><a href="">Latte Macchiato</a></li>
        <li><a href="">Freddo Espresso</a></li>
      </ul>
    </aside>
    <div>
      <h3>Opening hours</h3>
      <ul>
        <li>
          Monday - Friday:
          <span style="color: coral; font-size: larger">8am - 12pm</span>
        </li>
        <li>
          Saturday:
          <span style="color: coral; font-size: larger">8am - 1am</span>
        </li>
        <li>
          Sunday: <span style="color: coral; font-size: larger">Closed</span>
        </li>
      </ul>
    </div>

    <footer>
      <h4>&copy; 2023 Coffee Aroma | All Rights Reserved</h4>
      <p>Contact Info: infoaddress</p>
      <p>Contact Phone: 012345678</p>
    </footer>
  </body>
</html>
